@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}

:root{
  --primary--color:#058C42;
  --secondary--color:#16DB65;
  --tertiary--color:#04471C;

  --black--color:#050C08;
  --black--second:#040705;
  --black--third:#39443e;
}


a {
    text-decoration: none;
}

button{
    border: none;
}
/* About Font*/

h1{
    font-size: clamp(2.5rem, 4vw, 3rem); 
    font-weight: 700;
    color: var(--primary--color);
}

h2{
    font-size: clamp(2.25rem, 3.5vw, 2.375rem); 
    font-weight: 700;
    color: var(--primary--color);
}

h3{
    font-size: clamp(1.4375rem, 1.5vw, 1,5625rem); 
    font-weight: 700;
    color: var(--black--third);
}

h4{
    font-size: clamp(2.25rem, 3.5vw, 2.375rem); 
    text-align: center;
    font-weight: 700;
    color: var(--black--third);; 
}

p{
    font-size: clamp(1rem, 1.5vw, 1rem); 
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    color: var(--black--third);
}